// Paleta de colores de la presentación
$brand-dark-gray: #1a202c;
$brand-white: #FFFFFF;
$brand-green: #9CCC3C;
$brand-green-bright: #A3D84B;
$brand-green-dark: #6D902D;
$brand-black: #1a202c;

// Layout
$transition-speed: 0.4s;